/Exercise10_1.class
/Exercise10_2.class
/Exercise10_3.class
/Exercise10_4.class
/Exercise11_1.class
/Exercise11_2.class
/Exercise11_3.class
/Exercise11_4.class
/Exercise16_1.class
/Exercise16_2.class
/Exercise16_3.class
/Exercise20_1.class
/Exercise20_2.class
/Exercise20_3.class
/Exercise20_8.class
/Exercise30_1.class
/Exercise30_2.class
/Exercise30_3.class
/Exercise30_4.class
/Exercise30_Tester.class
/IndexOfSorted.class
/Car.class
/Exercise31_1.class
/Exercise31_2.class
/Exercise33_1.class
/Box.class
/Exercise33_2.class
